#menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	background: orange;
}

#about
{
	background: blue;
	color: white;
}

body{ background-color: gold; color:black }


#photos
{
	background: orange;
}

#playlist
{
	background: blue;
}

#like
{
	background: orange;
}

#qrcoder
{
	background: blue;
}

#spa
{
	background: orange;
}

#contact
{
	background: blue;
}

